<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="RPRubF6vNgx1mAYd_eUbQxQGbnTMy_PQRT-jEvSJ070">

<title>Dominic McKellar | Project Keeper</title>
<meta name="description" content="Project Keeper was created by Dominic McKellar to help users manage various projects and/or tasks. It was built with Sinatra (Ruby) and styled with Bootstrap.">
<meta name="author" content="Dominic McKellar">
<meta name="keywords" content="Dom Mckellar, Dominic McKellar">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@_dom_mc">
<meta name="twitter:title" content="Project Keeper by Dominic McKellar">
<meta name="twitter:description" content="Project Keeper was created by Dominic McKellar to help users manage various projects and/or tasks. It was built with Sinatra (Ruby) and styled with Bootstrap.">
