<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Project Keeper</a>
    </div><!--/.navbar-header -->

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>
          <li><a href="/<%= @user.username %>/projects">Projects</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users/<%= @user.username %>">Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul><!--/.dropdown-toggle -->
          </li>

        <% else %>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        <% end %>

      </ul><!--/.nav -->
    </div><!--/.nav-collapse -->

  </div><!--/.container -->
</nav>
