/* -----------------------------------------
    *Main*
----------------------------------------- */
body {
    padding-top   : 40px;
    padding-bottom: 40px;
    background    : rgb(255, 255, 255);
    margin-bottom : 60px;
}

html {
    position  : relative;
    min-height: 100%;
    font-size : 16px;
}
/* -----------------------------------------
    Alert (Flash)
----------------------------------------- */
.alert {
    margin-top: 2rem;
}
/* -----------------------------------------
    Buttons
----------------------------------------- */
.btn {
    padding         : 10px 16px;
    font-size       : 18px;
    line-height     : 1.3333333;
    border-radius   : 6px;
    color           : #fff;
    background-color: #337ab7;
    border-color    : #2e6da4;
    margin-top      : 5rem;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color          : #fff;
    text-decoration: none;
}

.btn:hover {
    background-color: #286090;
    border-color    : #204d74;
}

.btn.btn-danger {
    /*color           : #fff;*/
    background-color: #d9534f;
    border-color    : #d43f3a;
    margin-bottom   : 1rem;
}

.btn.btn-danger:hover {
    background-color: #c9302c;
    border-color    : #ac2925;
}

.btn.btn-danger.focus,
.btn.btn-danger:focus {
    background-color: #c9302c;
    border-color    : #761c19;
}
@media (max-width:768px) {
    .action-btn {
        display      : block;
        width        : 100%;
        border-radius: 0;
    }
}

.login .btn-primary:hover,
.login .btn:focus {
    background-color   : #265a88;
    background-position: 0 -15px;
}
@media (min-width:769px) {
    .project.index .btn.action-btn {
        margin: 4rem 0 0 3rem;
    }
}

.show.user .btn-sm {
    margin       : .5rem 0 1.5rem;
    padding      : 5px 10px;
    font-size    : 12px;
    line-height  : 1.5;
    border-radius: 3px;
}

.show.user .hidden-xs .btn {
    margin: 4rem 0 0 .75rem;
}

.show.project .btn-group-justified {
    margin-top: 4rem;
}

.show.project .btn {
    margin-top: 3rem;
}
/* -----------------------------------------
    Debug
----------------------------------------- */
.debug {
    margin-top : 45px;
    background : white;
    padding    : 25px;
    font-family: monospace;
    font-size  : 18px;
}
/* -----------------------------------------
    Forms (Bootstrap)
----------------------------------------- */
.form-signin {
    max-width: 330px;
    padding  : 15px;
    margin   : 0 auto;
}

.form-signin .checkbox,
.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position          : relative;
    height            : auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    padding           : 10px;
    font-size         : 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom             : -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius : 0;
}

.form-signin input[type="password"] {
    margin-bottom          : 10px;
    border-top-left-radius : 0;
    border-top-right-radius: 0;
}

label {
    font-size    : 1.4rem;
    margin-top   : 10px;
    margin-bottom: 0;
}
/* -----------------------------------------
    Footer
----------------------------------------- */
/*sticky footer (Bootstrap)*/
.footer {
    position: absolute;
    bottom  : 0;
    width   : 100%;
    color   : #777;
    height  : 60px;
    text-align: center;
}

.footer p {
    /*float       : right;*/
    margin-top  : 1rem;
    /*margin-right: 15%;*/
}

.footer a:hover {
    text-decoration: none;
}
.fa-github-square {
  margin-left: .25rem;
}
/* -----------------------------------------
    Icons
----------------------------------------- */
table .fa {
    font-size   : 12px;
    margin-right: 10px;
}
/* -----------------------------------------
    Layout
----------------------------------------- */
@media (min-width: 769px) {
    .row.centered > div {
        float     : none;
        display   : inline-block;
        text-align: left;
    }

    .row.centered {
        text-align: center;
    }
}
/* -----------------------------------------
    Modal
----------------------------------------- */
.modal-title {
    font-size : 3.5rem;
    text-align: center;
    color     : #c9302c;
}

.modal p {
    font-size : 1.4rem;
    text-align: center;
}

.modal-body p:first-child {
    font-weight: 700;
}

button.close {
    font-size: 2rem;
}

.alert-dismissable .close,
.alert-dismissible .close {
    top: -.5rem;
}
/* -----------------------------------------
    Navigation
----------------------------------------- */
.navbar-default {
    background-color: rgba(255, 255, 255, 0.98);
}

.navbar-default .navbar-nav > li > a {
    color: #337ab7;
}

#navbar .nav > li > a:focus,
#navbar .nav > li > a:hover,
#navbar .navbar .nav > li > a:active {
    color           : white;
    background-color: #337ab7;
}

.navbar-default .nav .open > a,
.navbar-default .nav .open > a:focus,
.navbar-default .nav .open > a:hover {
    background-color: #337ab7;
    color           : white;
}

#navbar > ul > li.dropdown > a:focus {
    background-color: white;
    color           : #337ab7;
}

#navbar > ul > li.dropdown > a:hover {
    background-color: #337ab7;
    color           : white;
}

.navbar-default .dropdown-menu > li > a:focus,
.navbar-default .dropdown-menu > li > a:hover {
    color           : #262626;
    text-decoration : none;
    background-color: #f5f5f5;
}

.navbar-default .dropdown-menu > li > a {
    padding: 8px 20px;
}

.navbar-default .dropdown-menu > li > a:hover,
menu > li > a:focus {
    color           : white;
    text-decoration : none;
    background-color: #337ab7;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #337ab7;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color           : white;
        background-color: #337ab7;
    }
}
@media (min-width: 768px) {
    .dropdown-menu li.divider:first-child {
        display: none;
    }
}

.navbar-default .navbar-brand {
    font-family : 'Suez One', serif;
    font-size   : 2.5rem;
    color       : #337ab7;
    padding-left: 2rem;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #286090;
}

.navbar-default .navbar-toggle {
    background-color: #337ab7;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #286090;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#navbar #delete-link {
    cursor: pointer;
}

#navbar #delete-link:hover {
    background-color: #c9302c;
    border-color    : #ac2925;
}

#navbar #delete-link:.focus,
#navbar #delete-link:active,
#navbar #delete-link:focus {
    background-color: #c9302c;
    border-color    : #761c19;
}
/* -----------------------------------------
    Pages & Misc
----------------------------------------- */
.page-title {
    text-align: center;
    margin    : 5rem 0 6rem;
    color     : #337ab7;
    font-size : 3rem;
}

.form-title {
    margin: 5rem 0 4rem;
}
/* Login Page ------------------------*/
.form-signin-heading {
    margin-top: 10rem;
}

.form-signin p {
    margin-top: 5px;
}
.form-signin .btn {
  margin-top: 1rem;
}
/* Show Page ------------------------*/
.show h2 small {
    font-size  : 102%;
    margin-left: 2rem;
}

.show p {
    font-size  : 1.3rem;
    font-weight: bold;
    color      : #337ab7;
}

.show p span {
    font-size  : 1.4rem;
    font-weight: normal;
    color      : #555;
    margin-left: 20px;
}

.show .recent {
    line-height: 1.5rem;
}

.show .recent section {
    margin-bottom: 1rem;
}

.show .category-title {
    font-size    : 2.2rem;
    margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
    .show .account-info {
        margin-bottom: 5rem;
    }
}
/* Home Page ------------------------*/
.home {
    margin-top: 30px;
}
/* Index Page ------------------------*/
.index.project .empty {
    text-align   : center;
    font-weight  : bold;
    font-size    : 1.5rem;
    margin-bottom: 3rem;
}
/* -----------------------------------------
    Table
----------------------------------------- */
tbody {
    border-bottom: 1px solid #ddd;
}

.clickable-row:hover {
    cursor: pointer;
}

.clickable-row td:hover {
    text-decoration: underline;
}

.table-hover > tbody > tr:hover {
    background-color: #337ab7;
    color           : white;
}
@media (max-width: 768px) {
    table .fa {
        display: none;
    }
}
