<main class="container home">
  <section class="jumbotron">

    <h1>Welcome to Project Keeper</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="btn" href="<%= url('/signup') %>">Get Started</a>

  </section>
</main>
